table#game-table {
    /*border: 1px solid gray;*/
    border-spacing: 0;
    border-collapse: collapse;
}

table#game-table td {
    height: 1.5em;
    width: 1.5em;
    border: 1px solid #d3d3d3;
}

table#game-table td.dead {
    background-color: white;
}

table#game-table td.alive {
    background-color: black;
}

table#game-table tr {
    /*border-bottom: 1px solid #d3d3d3;*/
}

h1 {
    display: block;
    font-size: 2em;
    margin-bottom: 5px;
    font-weight: bold;
}

.description {
    font-size: 0.9em;
    margin-left: 15px;
    margin-bottom: 20px;
}

.superscript {
    font-weight: bold;
    vertical-align: super;
}

.controls {
    margin-bottom: 5px;
}
