<!doctype html>
<html lang="en" ng-app="GameOfLife">
<head>
    <title>Gameoflife</title>
    <link rel="stylesheet" href="css/gol.css">
</head>
<body>

<div id="gamepad" ng-controller="GameController">
    <h1>Game of life</h1>
    <div class="description">
        <span class="superscript">(i)</span> Click on Game board to draw initial state, then click 'next Step/play'.
    </div>
    <div class="controls">Size: <input type="number" ng-model="boardSize"/>
        <button ng-click="newGame()">New Board</button>
        <button ng-click="nextStep()" ng-disabled="!board.nextStepAvailable">Next Step</button>
        <button ng-click="play()" ng-hide="playing" ng-disabled="!board.nextStepAvailable">Play</button>
        <button ng-click="stop()" ng-show="playing" ng-disabled="!board.nextStepAvailable">Stop</button>
    </div>

    <table id="game-table">
        <tbody>
        <tr ng-repeat="row in board.rows">
            <td ng-repeat="cell in row.cells" ng-click="toggle(cell)" class="{{cellClass(cell)}}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript" src="lib/angular-1.0.1.min.js"></script>

<script type="text/javascript" src="src/cell.js"></script>
<script type="text/javascript" src="src/rules.js"></script>
<script type="text/javascript" src="src/board.js"></script>
<script type="text/javascript" src="src/game.js"></script>
</body>
</html>
